PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=nestjs_ecommerce
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

FE_URL=

THROTTLE_TTL=600000
THROTTLE_LIMIT=100

JWT_SECRET=JWT_SECRET_${APP_NAME}

MULTER_DESTINATION_FILE=./uploads

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CACHE_INTERNAL_TTL=30000

MAIL_INCOMING_USER=
MAIL_INCOMING_PASS=
MAIL_HOST=
MAIL_PORT=


# initial setup for postgres database
# docker run --name pg_nestjs_ecommerce_t11_2025 -e POSTGRES_USER=user_nestjs_ecommerce_t11_2025 -e POSTGRES_PASSWORD=password_nestjs_ecommerce_t11_2025 -e POSTGRES_DB=db_nestjs_ecommerce_t11_2025 -p 5432:5432 -d postgres


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=